/*********************************************************************
*
*  Config Module
*  Eduardo Shiota Yasuda
*  contato@eshiota.com
*  
*  All constants that will be used though the styles must be
*  defined here.
*
*********************************************************************/

$SELECTION-BACKGROUND : #b55e5e;
$SELECTION-COLOR      : #fff;

$TEXT-COLOR           : #555;
$TEXT-HOVER-COLOR     : #999;

$LINK-COLOR           : #6fa0ae;
$LINK-HOVER-COLOR     : #4b6c75;
$LINK-ACTIVE-COLOR    : #6fa0ae;